.create-comment {
  border-style: curve;

  background-color: white;
  border-radius: 5px;
  border: 1px solid #9c9c9c;
  padding: 40px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
