.footer {
  display: none;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
  }
  ul {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3vh;
    min-width: 100vw;
    display: flex;

    border: 1px solid #9c9c9c;
    background-color: #75fac7;
    z-index: 999;
    margin: 0;
  }

  .footer-list {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
  }

  li {
    margin: 0;
    margin: 0, auto;
  }
  footer-icon {
    color: rgb(37, 37, 37);
  }
  footer-icon:hover {
    color: white;
    transition: 0.3s;
  }
}
