.footer {
  display: none;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
  }
  ul {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1vh;
    min-width: 100%;
    display: flex;
    /* flex-direction: row; */
    background-color: #effff9;
    z-index: 999;
    margin: 0;
  }

  .footer-list {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }

  li {
    margin: 0;
    margin: 0, auto;
  }
}
