.layout {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 0.5fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas:
    "h h h "
    "b b b";
  height: 100%;
}

header {
  display: flex;
  grid-area: h;
}
h1.header,
.yak {
  margin-left: 30px;
  position: fixed;
  grid-area: h;
  color: rgb(100, 100, 100);
  font-size: 40px;
}

.yak {
  height: 60px;
  left: 140px;
  top: 35px;
}
/* .navbar {
  grid-area: n;
} */
.children {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 70px;
  grid-area: b;

  /* position: relative; */
}
