.layout {
  display: grid;
  grid-template-columns: 0.5fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas:
    "h h h "
    "b b b";
}

header {
  display: flex;
  grid-area: h;
}
h1.header,
.yak {
  margin-left: 30px;
  position: fixed;
  grid-area: h;
  color: rgb(100, 100, 100);
  font-size: 40px;
  margin-top: 10px;
}
h1.header:hover {
  color: rgb(255, 0, 200);
  transition: 0.3s;
}

.yak {
  height: 60px;
  left: 140px;
  top: 15px;
}

.children {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 70px;
  grid-area: b;
}

.name {
  position: fixed;
  right: 55px;
  top: 35px;
  grid-area: h;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .name {
    display: none;
  }

  .layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-content: center;
    /* align-items: center; */
  }
  h1.header {
    display: none;
    position: absolute;
    margin-left: 0px;
    flex-wrap: wrap;
    align-self: center;
    font-size: 40px;
    margin-top: 0px;
    justify-content: center;
  }
  .yak {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: 0;
  }
  .header {
    right: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    left: 0;
  }
}
