.nav {
  display: flex;
  position: fixed;
  top: 170px;
}

li,
a {
  list-style: none;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
.list {
  padding-left: 30px;
}

li,
a:hover {
  color: rgb(255, 0, 200);
  transition: 0.3s;
}
.link {
  margin: 100px;
}

.logout {
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  color: rgb(100, 100, 100);
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}
.logout:hover {
  color: rgb(255, 0, 200);
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}
