/* .div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 100px;
  grid-template-areas:
    "a a"
    "a b"
    "a b";
} */
.nav {
  display: flex;
  position: fixed;
  top: 170px;
}

li,
a {
  list-style: none;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
.list {
  padding-left: 30px;
}

.link {
  margin: 100px;
}
