.post-button {
  /* position: relative;
  display: flex; */
  /* position: relative;
  left: 330px;
  bottom: 40px; */

  /* right: 65px;
  bottom: 20px; */

  background-color: #7cfcd0;
  display: flex;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-end;
  position: relative;
  bottom: 40px;
  right: 10px;
  border-style: solid;
  border: 1px solid #9c9c9c;
  cursor: pointer;
}
