.post-button {
  background-color: #7cfcd0;
  display: flex;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: flex-end;
  position: relative;
  bottom: 50px;
  right: 10px;
  border-style: solid;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  label.create-form {
    margin-bottom: 0;
    margin-top: 100px;
  }
  .post-form {
    height: 35vh;
  }
}
