.edit-container {
  height: 100vh;
}

.edit-button {
  width: 10vw;
  margin-top: 20px;
  height: 5vh;
  align-self: center;
  font-family: "Nunito", sans-serif;
  background-color: hotpink;
  border: 2px rgb(216, 51, 134) solid;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}

.post-content2 {
  border-style: curve;

  background-color: white;
  border-radius: 5px;
  border: 1px solid #9c9c9c;
  padding: 40px;
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .edit-container {
    margin-top: 70px;
    height: 80vh;
  }
  label {
    font-size: 20px;
  }
  .edit-title {
    font-size: 40px;
    text-align: center;
  }
  .edit-button {
    width: 40vw;
  }
  .post-content2 {
    width: 70vw;
  }
}
