.modal {
  padding: 0;

  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100%;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 1.3s;
  background-color: rgba(71, 71, 71, 0.637);
}

.modal-children {
  background-color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: 15rem auto;
}
