.home {
  display: flex;
  flex-direction: column;
}

.pic {
  height: 150px;
  width: 150px;
  align-self: center;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

@media screen and (max-width: 480px) {
  .home {
    height: 100vh;
  }
  .title {
    font-size: 30px;
  }
  .pic {
    height: 100px;
    width: 100px;
  }
}
